a{
    text-decoration: none;
}

/* ----margin----- */
.m-margin-top-small{
    margin-top: 0.5em;
}
.m-margin-top{
    margin-top: 1em;
}
.m-margin-top-large{
    margin-top: 2em;
}
.m-margin-top-big{
    margin-top: 3em;
}

.m-margin-left{
    margin-left: 1em;
}
.m-margin-right{
    margin-right: 1em;
}

/* -----padding------- */
.m-padded-tb-mini{
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
.m-padded-tb-tiny{
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
.m-padded-tb-small{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.m-padded-tb{
    padding-top: 1em;
    padding-bottom: 1em;
}
.m-padded-tb-large{
    padding-top: 2em;
    padding-bottom: 2em;
}
.m-padded-tb-big{
    padding-top: 3em;
    padding-bottom: 3em;
}
.m-padded-tb-huge{
    padding-top: 4em;
    padding-bottom: 4em;
}
.m-padded-tb-massive{
    padding-top: 5em;
    padding-bottom: 5em;
}

.m-padded-left-small{
    padding-left: 0.5em;
}
.m-padded-left{
    padding-left: 1em;
}
.m-padded-left-large{
    padding-left: 2em;
}

.m-padded-bottom-tiny{
    padding-bottom: 0.5em;
}
.m-padded-zero{
    padding: 0px !important;
}

/* 绝对定位 */
.m-ab-right{
    position: absolute;
    right: 20px;
}
